.container-fluidHeader {
  display: flex;
  width: 100%;
  height: 110px;
  position: sticky;
  top: 0;
  z-index: 1100;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  justify-content: space-between;
}

a.headerTitle {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 40px;
  pointer-events: none;
  float: left;
  margin-left: 1%;
}
