.h-100 {
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 20px;
  width: 400px;
}

h3 {
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
}

a {
  text-decoration: none;
}

button {
  background-color: rgba(155, 159, 15, 0.866);
  border-radius: 20px;
}

.cardPhoto {
  padding: 2%;
  height: 300px;
  width: 380px;
  border-radius: 20px;
}
