form.contactForm {
  width: 45%;
  margin-left: 1%;
}

#nameInput {
  display: flex;
  width: 75%;
  margin-bottom: 2%;
}
#emailInput {
  display: flex;
  width: 75%;
  margin-bottom: 2%;
}
#messageInput {
  display: flex;
  width: 75%;
  height: 200px;
  margin-bottom: 2%;
  text-align: top;
  word-wrap: break-word;
}
#submitBtn {
  display: inline-block;
  width: 80px;
  margin-top: 2%;
}

#formLabel {
  float: left;
  margin-bottom: 2%;
  color: white;
}

#formMessageLabel {
  float: left;
  color: white;
}
