#footerCustom {
  margin-top: 2%;
  background: linear-gradient(
    60deg,
    rgba(0, 172, 193, 1) 0%,
    rgba(84, 58, 183, 1) 100%
  );
}

a#copyrightText {
  text-align: center;
}

#imageSrc {
  color: white;
  font-size: 12px;
}
